:root {
    --color-primary: #111183;
    --color-secondary: #37818b;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-evenly {
    justify-content: space-evenly;
}

.justify-content-between {
    justify-content: space-between;
}

.text-center {
    text-align: center;
}

.gap-10 {
    gap: 10px;
}

.p-30 {
    padding: 30px;
}

.w-100 {
    width: 100%;
}