.headerArea {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.navbarLogo {
    height: 60px;
    padding: 15px;
}

.menu {
    background: linear-gradient(90deg, rgba(54,128,138,1) 0%, rgba(66,146,157,1) 60%, rgba(111,193,204,1) 100%);
    border-radius: 15px 0 0 15px;
}

.menu a {
    font-weight: 600;
    letter-spacing: 1px;
    color: white;
    text-decoration: none;
}

.menu a:after {
    display: block;
    content: '';
    border-bottom: solid 3px white;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}

.menu a:hover:after {
    transform: scaleX(1); 
}

.elevationNavbar {
    background-color: white;
    box-shadow: 0px 5px 5px 0px rgb(0 0 0 / 10%);
}

.elevationNavbar .menu {
    background: white;
}

.elevationNavbar .menu a {
    color: var(--color-primary);
}

.elevationNavbar .menu a:after {
    border-bottom: solid 3px var(--color-primary);
}

.dropdownMenu {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0 50px 0 0;
}

.dropdownMenu >li {
    position: relative;
    padding: 15px 10px;
}

.dropdownMenu li:hover ul {
    display: block;
}

.dropdownMenu li ul {
    width: 100%;
    display: none;
    position: absolute;
    top: 50px;
    background-color: white;
    border: 1px solid #e8e8e8;
    box-shadow: -1px 2px 19px 3px rgb(14 0 40 / 5%);
    border-radius: 5px;
    list-style: none;
    padding: 0 20px 0 0;
}

.dropdownMenu li ul a {
    font-weight: 500;
    color: #202124;
    padding: 10px;
    display: flex;
    align-items: center;
}

.dropdownMenu li ul a:hover {
    color: var(--color-secondary);
}

.dropdownMenu i {
    display: none;
}

.logoMobile {
    display: none;
    justify-content: center;
    padding: 20px 50px;
}



@media (min-width: 881px) {
    .toggleMenu {
        display: none;
    }
    .menu, .menu.active {
        display: flex;
    }
}

@media (max-width: 880px) {
    .menu, .menu a:after {
        display: none;
    }

    .menu.active .dropdownMenu {
        margin: 30px 10px 0 0 !important;
        padding: 0;
    }

    .menu.active .dropdownMenu i {
        display: flex;
        color: var(--color-primary);
    }

    .menu.active .dropdownMenu li >div:hover i {
        transform: rotate(180deg);
    }

    .toggleMenu {
        padding: 0 20px;
        cursor: pointer;
    }
    
    .toggleMenu >div {
        height: 3px;
        width: 30px;
        background-color: var(--color-secondary);
        margin: 6px 0;
        position: relative;
        transition: .3s linear;
    }
    
    .toggleMenu.active >div:nth-child(1) {
        transform: rotate(-45deg);
        top: 4px
    }
    
    .toggleMenu.active >div:nth-child(2) {
        opacity: 0;
    }
    
    .toggleMenu.active >div:nth-child(3) {
        transform: rotate(45deg);
        bottom: 14px
    }
    
    .menu.active {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: white;
        position: fixed;
        top: 0;
        bottom: 0;
        width: 100%;
        border-radius: 0;
    }
    
    .menu.active a {
        color: var(--color-primary);
    }
    
    .menu.active .dropdownMenu {
        flex-direction: column;
        gap: 0;
        margin: 30px 50px 0 0;
    }

    .menu.active .logoMobile {
        display: flex;
    }
    
    .menu.active .dropdownMenu li ul {
        width: 100%;
        position: relative;
        top: 0;
        border: none;
        box-shadow: none;
        border-radius: 0;
        list-style: none;
        padding: 0;
    }
}